.artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arist-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  margin-bottom: 30px;
}

.arist-info__name {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: 700;
}

.arist-info__genre {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
